<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login LBR Assets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
    <link rel="icon" href="https://www.geekuniversity.com.br/static/images/favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
</head>
<body class="text-center">

    <div class="container">
        <h1>LBR Assets</h1>
        {% if user.is_anonymous %}
           <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        {% else %}
            <div class="alert alert-primary" role="alert">
                Welcome!(a) {{ user.get_full_name }}!
            </div>
            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            <a class="btn btn-primary" href="{% url 'stock' %}">Stock</a>
            <a class="btn btn-primary" href="{% url 'dashboard'%}">Dashboard</a>
            <a class="btn btn-primary" href="{% url 'wallet'%}">Wallet</a>

        {% endif %}
        
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
    

